<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <nav>
      <h1><a href="/">Mahad Smoothies</a></h1>
      <ul>
        <% if (user) { %>
        <li>
          Welcome,
          <span id="user"> <%= user.email%> </span>
        </li>
        <li><a href="/allRecipes">All Recipes</a></li>
        <li><a href="/myRecipes">My Recipes</a></li>
        <li><a href="/logout">Log out</a></li>
        <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
        <% } %>
      </ul>
    </nav>

    <div class="create-blog content">
      <form class="sform" action="/createSmoothie">
        <label for="title">Smoohie title:</label>
        <input type="text" id="title" name="title" required
        value="<%=url.includes('edit') ? body.title : "" %>" />
        <label for="snippet">Smoothie snippet:</label>
        <input type="text" id="snippet" name="snippet" required
        value="<%=url.includes('edit') ? body.snippet : "" %>"/>
        <label for="body">Smoothie body:</label>
        <label id="requiredUrl"><%=url%></label>
        <textarea id="body" name="body" required>
<%=url.includes('edit') ? body.body : "" %> </textarea
        >

        <% if(url.includes("edit")) { %>
        <button>Save</button>
        <% } else { %>

        <button>Add</button> <%}%>
      </form>
    </div>

    <footer>Copyright &copy; Blog Ninja 2020</footer>

    <script>
      const form = document.querySelector("form");
      const user = document.getElementById("user");
      const requiredUrl = document.getElementById("requiredUrl");
      const btn = document.querySelector("button");
      const edit_body = document.querySelector("#edit_body");

      if (btn.textContent == "Add") {
        form.addEventListener("submit", async (e) => {
          e.preventDefault();
          // get values
          const title = form.title.value;
          const snippet = form.snippet.value;
          const body = form.body.value;
          const createdBy = user.textContent;
          try {
            const res = await fetch("/createSmoothie", {
              method: "POST",
              body: JSON.stringify({
                title,
                snippet,
                body,
                createdBy,
              }),
              headers: { "Content-Type": "application/json" },
            });
            const data = await res.json();

            location.assign("/");
          } catch (err) {
            console.log(err);
          }
        });
      }
      if (btn.textContent == "Save") {
        let title = document.getElementById("title");
        let snippet = document.getElementById("snippet");
        let body = document.getElementById("body");
        // console.log(edit_body.textContent.title);
        // title.placeholder = edit_body.title;
        // snippet.placeholder = edit_body.snippet;
        // body.placeholder = edit_body.body;
      }

      if (btn.textContent == "Save") {
        form.addEventListener("submit", async (e) => {
          e.preventDefault();
          // get values
          const title = form.title.value;
          const snippet = form.snippet.value;
          const body = form.body.value;
          const createdBy = user.textContent;
          try {
            const res = await fetch(`${requiredUrl.textContent.trim()}`, {
              method: "PUT",
              body: JSON.stringify({
                title,
                snippet,
                body,
                createdBy,
              }),
              headers: { "Content-Type": "application/json" },
            });
            const data = await res.json();

            location.assign("/allRecipes");
          } catch (err) {
            console.log(err);
          }
        });
      }
    </script>
  </body>
</html>
